.panel-content {
  overflow: auto;
} 

/* Resizer line */
.resize-handle {
  width: 7px;
  background-color: gray;
  cursor: col-resize;
  transition: background-color 0.2s ease;
}

.resize-handle:hover {
  background-color: #888;
}
